<div id="outline">
        <div class="container">
            <div id="outline-row" class="row justify-content-center align-items-center">
                <div id="outline-column" class="col-md-6">
                    <div id="outline-box" class="col-md-12">
                        <form id="outline-form" class="form" action="/student" method="post">
                            <h3 class="text-center text-dark">Register New Studetns</h3>
                            <% if @error == true %>
                                <div class="form-group">
                                    <a class="text-danger"> <%=@error_msg%> </a>
                                </div>                        
                            <%end%>
                            <div class="form-group">
                                <label for="first_name" class="text-dark">First Name:</label><br>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                            </div>
                            <div class="form-group">
                                <label for="birth_date" class="text-dark">Last Name:</label><br>
                                <input type="text" name="last_name" id="last_name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="birth_date" class="text-dark">Birth Date:</label><br>
                                <input type="date" name="birth_date" id="birth_date" class="form-control">
                            </div> 
                            <div class="form-group">
                                <label for="daycare_id" class="text-dark">Daycare:</label><br>
                                <select name="daycare_id" id="daycare_id" class="form-control">
                                    <% @daycares.each do |daycare| %>
                                        <option value="<%= daycare.id %>"><%= daycare.name %></option>
                                    <% end %>
                                </select>
                            </div>
                            <!-- ERROR: not able to send multiple attendance day -->
                            <fieldset class="form-group" name="attendance_day" id="attendance_day">
                                <div class="column">
                                  <label for="attendance_day" class="text-dark">Attendance Day</label><br>
                                    <div class="form-check" name="attendance_day" id="attendance_day">
                                        <input class="form-check-input" type="checkbox" name="attendance_day" value="mon">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="attendance_day">
                                            Mon
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="attendance_day" value="tue">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="attendance_day">
                                            Tue
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="attendance_day" value="wed">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="attendance_day">
                                            Wed
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="attendance_day" value="thu">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="attendance_day">
                                            Thu
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="attendance_day" value="fri">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="attendance_day">
                                            Fri
                                        </label> 
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                  <label for="check_allergy" class="text-dark">Check Allergy:</label><br>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="check_allergy" id="check_allergy" value="true">&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="check_allergy">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="check_allergy" id="check_allergy" value="false" checked>&nbsp;&nbsp;&nbsp;
                                        <label class="form-check-label" for="check_allergy">
                                            No
                                        </label>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="allergies" class="text-dark">Allergies:</label><br>
                                <input type="text" name="allergies" id="allergies" class="form-control">
                            </div> 
                            <div class="form-group">
                                <label for="admission_date" class="text-dark">Admission Date:</label><br>
                                <input type="date" name="admission_date" id="admission_date" class="form-control">
                            </div>                          
                            <div class="form-group">
                                <label for="information" class="text-dark">Special Note:</label><br>
                                <textarea name="information" id="information" class="form-control"></textarea>
                            </div>                             
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="link" class="text-right">
                                <a href="/show" class="text-dark">Back to Main</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
