

    <div id="outline">
        <div class="container">
            <div id="outline-row" class="row justify-content-center align-items-center">
                <div id="outline-column" class="col-md-6">
                    <div id="outline-box" class="col-md-12">
                        <form id="outline-form" class="form" action="/login" method="POST">
                            <h3 class="text-center text-dark">Log-in</h3>
                            <div class="form-group">
                                <a class="text-danger"><%if @error_msg == true%>Wrong username or wrong password. Try again
                                                        <%elsif @error_msg_2 == true%>Your Session Is Time Out, Please Login Again.<%end%></a>
                            </div>
                            <div class="form-group">
                                <label for="username" class="text-dark">Username:</label><br>
                                <input type="email" class="form-control" id="username" name="username" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            <div id="link" class="text-right">
                                <a href="/signup" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 